html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

.hidden {
    display: none
}

#wrapper {
    padding: 30px
}

.control {
    width: 30%;
    float: left;
    height: 100vh;
}

input:placeholder-shown  {
    display: inline-block;
    border: 1px solid #eee
}

input {
    border: none
}

input:last-child {
    color: #333 !important
}

.svg-wrapper {
    width: 70%;
    float: right;
}

.illu {
    width: 70%;
    float: left;
    overflow: hidden;
}

.illustrations-buttons-wrapper {
    overflow: hidden;
}

.illustrations-buttons-wrapper button,
#apply-custom-color {
    padding: 10px 15px;
    background: black;
    color: white;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    float: left;
    border: 1px solid white;
}

.illustrations-buttons-wrapper button:hover,
.illustrations-buttons-wrapper button:active,
.illustrations-buttons-wrapper button:focus {
    background: tomato;
    cursor: pointer;
}

.colors-buttons-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}

.colors-buttons-wrapper button {
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    border: 1px solid white;
    cursor: pointer;
}

button#pandora {
    background: #D70F64;
    cursor: pointer;
}

button#op {
    background: #FF3633;
    cursor: pointer;
}

button#po {
    background: #00BD72;
    cursor: pointer;
}

.custom-color-wrapper input {
    width: 17%;
    float: left;
    padding: 10px;
}

#input-white-color {
    margin-bottom: 30px;
}

#apply-custom-color {
    display: block;
    float: none;
    width: 225px;
}

#apply-custom-color:hover {
    background: tomato;
    cursor: pointer;
}

.inputs-wraps {
    overflow: hidden;
}

.btn-wraps {
    width: 100%;
    float: none;
    overflow: hidden;
}

.btn-wraps button {
    float: left !important;
    width: 180px !important;
    font-size: 14px !important;
    margin-top: 20px !important;
}

#color-palette-wrapper {
    margin-top: 40px;
    font-size: 12px
}

#color-palette-wrapper textarea {
    border: none;
    resize: none;
    font-size: 20px;
    font-weight: bold;
}

#color-palette-wrapper span {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    text-transform: uppercase;
}

#color-palette-wrapper li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.5;
    width: 75px;
}

#color-palette-wrapper div {
    margin-bottom: 20px;
}

#genrate-color-palette {
    background: tomato;
    padding: 10px 15px;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer
}

#genrate-color-palette:hover {
    background: #000;
}

button.active {
    background: tomato
}

.brand-primary {
    fill: #D70F64
}

.brand-secondary {
    fill: #2C71BB
}

.brand-secondary-five {
    fill: #F4F8FB
}

.brand-secondary-10 {
    fill: #E9F0F8
}

.brand-secondary-20 {
    fill: #D4E3F0
}

.brand-secondary-30 {
    fill: #BFD3EB
}

.brand-secondary-40 {
    fill: #ABC5E5
}

.brand-secondary-50 {
    fill: #95B9DD
}

.brand-secondary-60 {
    fill: #7FAAD5
}

.brand-secondary-70 {
    fill: #6C9BCF
}

.brand-secondary-80 {
    fill: #568CC8
}

.brand-secondary-90 {
    fill: #427FC0
}

.brand-dark {
    fill: #0B1238
}

.brand-white {
    fill: #FFFFFF
}

.none {
    fill: none
}
